@(login: play.data.Form[Application.LoginForm])

@main("Sign in") {

@helper.form(action = routes.Application.certify()) {
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Sign in</h3>
    </div>
    <div class="panel-body">

      @helper.CSRF.formField
      @if(login.hasGlobalErrors()) {
        <p class="error">@login.globalError.message</p>
      }
      @helper.inputText(
        field=login("id"),
        args='_showConstraints -> false,
             '_label -> "Email",
             'class -> "form-control",
             'placeholder  -> "someone@example.com")
      @helper.inputPassword(
        field=login("password"),
        args='_showConstraints -> false,
             '_label -> "Password",
             'class -> "form-control",
             'placeholder -> "password")
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
      <input type="submit" class="btn btn-default" value="Sign in">
    </div>
  </div><!--/.panel panel-default -->
  }
}